---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$link-color: rgb(86, 220, 233);
// $background-color: rgb(240, 240, 240);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Default system typefaces */
$serif      : Georgia, Times, serif;
$sans-serif : "IBM Plex Sans", sans-serif;
$monospace  : "IBM Plex Mono", monospace;

// $global-font-family : $sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.social-icons {
  .fa-linkedin {
    color: #000000;
  }
}

// Removes underline
.page__title a,
.archive__item-title a {
  text-decoration: none;
}

// @import "minimal-mistakes";


.page__content {
  font-family: $global-font-family;
  // font-size: $type-size-6;
  font-size: 0.9em;

}


.notice {
  font-size: 0.9em !important;
}

.notice--warning {
  font-size: 0.9em !important;
}

.notice--success {
  font-size: 0.9em !important;
}